/spark_ml_demo/data/*.txt
/spark_ml_demo/target/

/tensorflow_demo/mnist_recognition/mnist_images/
/tensorflow_demo/mnist_recognition/mnist_data/

token.mat
simple_emotional_classification/*.dat
simple_emotional_classification/*.model
simple_emotional_classification/*.dict

imagenet_object_recognition/models

dlib_object_detect/faces
dlib_object_detect/stools
dlib_object_detect/tests
dlib_object_detect/detector.model
dlib_object_detect/stools.model